lenovo_a6020a46_osc_201602.tar.gz filter=lfs diff=lfs merge=lfs -text
lenovo_vibe_k5_osc_201603.tar.gz filter=lfs diff=lfs merge=lfs -text
lenovo_vibe_k5_osc_201604.tar.gz filter=lfs diff=lfs merge=lfs -text
